/* .btn-primary {
    background-color: #7272AB !important;
    border-color: #7272AB !important;
}

.btn-outline-primary {
    border-color: #7272AB !important;
    color-scheme: #7272AB !important;
}

a {
    color: #7272AB !important;
} */