{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<!-- <div class="col">
  <div class="row">
    <div class="p-3">
      <h4>Dashboard</h4>
    </div>
  </div>
  <div class="row"> -->
  <div class="col">
    <div class="card" style="height: 100%;">
    <h4 class="card-header">Today</h4>
      {% for item in todays_events_routines %}
        {% if item["all_day"] %}
          <div class="p-3 border border-subtle rounded-3" id="all-day-dashboard-event">
            <i class="bi bi-calendar4-event" style="color: {{ item["color"] }};"></i>
            {{ item["title"] }} All Day
            <a href="{{ item["url"] }}" style="color: {{accent}};">Edit</a>
          </div>
        {% else %}
          {% if item["type"]=="routine" %}
          <div class="p-3 border border-subtle rounded-3" id="dashboard-routine">
            <i class="bi bi-arrow-repeat" style="color: {{ item["color"] }};"></i>
            {{ item["title"] }}
            {{ item["start_time"] }}
            <a href="{{ item["url"] }}" style="color: {{accent}};">Edit</a>
                  {% for action in item["actions"] %}
                  <div class="form-check">
                      {% if action.completed %}
                      <input class="form-check-input action-checked" type="checkbox" value="{{ action.action_id }}" id="action-check-checked" checked>
                      <label class="form-check-label" for="action-check-checked">
                          {{ action.title }}
                      </label>
                      {% else %}
                      <input class="form-check-input action-unchecked" type="checkbox" value="{{ action.action_id }}" id="action-check" >
                      <label class="form-check-label" for="action-check">
                          {{ action.title }}
                      </label>
                      {% endif %}
                    </div>
                    {% endfor %}
          </div>
          {% else %}
          <div class="p-3 border border-subtle rounded-3" id="scheduled-dashboard-event">
            <i class="bi bi-calendar4-event" style="color: {{ item["color"] }};"></i>
            {{ item["title"] }}
            {{ item["start_str"] }} - {{ item["end_str"] }}
                  <a href="{{ item["url"] }}" style="color: {{accent}};">Edit</a>
          </div>
          {% if item["time_dif"] %}
          <br>
          <p>{{ item["time_dif"] }}</p>
          {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
      
      <div class="col">
        <div class="card" style="height: 100%;">
          <h4 class="card-header">Tasks</h4>
        {% for tasklist in todays_tasklists %}
        <div class="p-3 border border-subtle rounded-3" id="dashboard-tasklist">
                  <i class="bi bi-list-check" style="color: {{ tasklist.background_color }};"></i>        
                  {{ tasklist.title }}
                  <a href="{{ tasklist.url }}" style="color: {{accent}};">Edit</a>
                  {% for task in tasklist.tasks %}
                  <div class="form-check">
                    {% if task.completed %}
                    <input class="form-check-input task-checked" type="checkbox" value="{{ task.task_id }}" id="task-flex-check" checked>
                    <label class="form-check-label" for="task-flex-check">
                        {{ task.title }}
                    </label>
                    {% else %}
                    <input class="form-check-input task-unchecked" type="checkbox" value="{{ task.task_id }}" id="task-flex-check">
                    <label class="form-check-label" for="task-flex-check">
                        {{ task.title }}
                    </label>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
        {% endfor %}
      </div>
      </div>
    <!-- </div>
  </div> -->
{% endblock %}