{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}{% endblock %}
{% block body %}
  <div class="col">
        <h3>Today</h3>
        {% for item in todays_events_routines %}
          <div class="accordion" id="eventAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-item" aria-expanded="true" aria-controls="collapse-item">
                  {{ item["title"] }}
                </button>
              </h2>
              <div id="collapse-item" class="accordion-collapse collapse" data-bs-parent="#itemAccordion">
                <div class="accordion-body">
                  Info
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col">
        <h3>Tasks</h3>
        {% for tasklist in todays_tasklists %}
          <div class="accordion" id="tasklistAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-task{{ tasklist.tasklist_id }}" aria-expanded="true" aria-controls="collapse-task{{ tasklist.tasklist_id }}">
                  {{ tasklist.title }}
                </button>
              </h2>
              <div id="collapse-task{{ tasklist.tasklist_id }}" class="accordion-collapse collapse" data-bs-parent="#tasklistAccordion">
                <div class="accordion-body">
                  {% for task in tasklist.tasks %}
                  <div class="form-check">
                    {% if task.completed %}
                    <input class="form-check-input task-checked" type="checkbox" value="{{ task.task_id }}" id="task-flex-check" checked>
                    <label class="form-check-label" for="task-flex-check">
                        {{ task.title }}
                    </label>
                    {% else %}
                    <input class="form-check-input task-unchecked" type="checkbox" value="{{ task.task_id }}" id="task-flex-check">
                    <label class="form-check-label" for="task-flex-check">
                        {{ task.title }}
                    </label>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
{% endblock %}