{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <div class="col p-4">
    <!-- Tasklist Title and Color -->
    <h4 class="align-middle d-inline">
      <i class="bi bi-list-check" style="color: {{ tasklist.background_color }};"></i>
      {{ tasklist.title }}
    </h4>
    <!-- Edit Title and Color -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-tasklist-title">
      <i class="bi bi-pencil"></i>
    </button>
    <!-- Delete Tasklist -->
    <form action="/edit-tasklist/{{ tasklist.tasklist_id }}/delete-tasklist" class="align-middle d-inline" method="POST">
      <button type="submit" class="btn btn-link" style="color: {{accent}};">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    <br><br>
    
    <!-- Tasklist Time -->
    <p class="align-middle d-inline">Scheduled Time</p>
    <!-- Edit Time -->
    <button type="button" class="btn btn-link" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-tasklist-time">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    <!-- View Current Scheduled Time -->
    <p class="align-middle">
      <i class="bi bi-calendar"></i>
      {{ tasklist.start }}
    </p> 
    <br>

    <!-- Tasks for Tasklist -->
    <p class="align-middle d-inline">Tasks</p>
    <!-- Add Another Task -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#add-new-task">
      <i class="bi bi-plus-lg"></i>
    </button>
    <br>
    <!-- List of All Tasks -->
    {% for task in tasklist.tasks %}
      <div class="form-check">
        {% if task.completed %}
        <input class="form-check-input task-checked mt-2" type="checkbox" value="{{ task.task_id }}" id="task-flex-check" checked>
        <label class="form-check-label" for="task-flex-check">
          {{ task.title }}
        </label>
        {% else %}
        <input class="form-check-input task-unchecked mt-2" type="checkbox" value="{{ task.task_id }}" id="task-flex-check">
        <label class="form-check-label" for="task-flex-check">
          {{ task.title }}
        </label>
        {% endif %}
      <form action="/edit-tasklist/{{ tasklist.tasklist_id }}/{{ task.task_id }}/delete-task" class="d-inline" method="POST">
        <button type="submit" class="btn btn-link" style="color: {{accent}};">
          <i class="bi bi-trash3"></i>
        </button>
      </form>
    </div>
    {% endfor %}
  </div>

  <!-- Edit tasklist title modal -->
  <div class="modal fade" id="edit-tasklist-title" aria-hidden="true" aria-labelledby="edit-tasklist-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-tasklist-label">Edit Tasklist Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-tasklist/{{ tasklist.tasklist_id }}/edit-tasklist-title" method="POST">
              <!-- Input for event title -->
              <div class="mb-3">
                <label for="edit-tasklist-title" class="form-label">Tasklist Title</label>
                <input type="text" class="form-control" name="edit-tasklist-title" id="edit-tasklist-title" placeholder="New Title">
              </div>
              
              <!-- Input for event color -->
              <div class="input group mb-3">
                <label for="edit-tasklist-color" class="align-middle form-label">Color</label>
                <input type="color" class="d-inline ms-2 form-control form-control-color" name="edit-tasklist-color" id="edit-tasklist-color" value={{ tasklist.background_color }}>
              </div>
              <br>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit tasklist date modal -->
  <div class="modal fade" id="edit-tasklist-time" aria-hidden="true" aria-labelledby="edit-tasklist-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-tasklist-label">Edit Tasklist Date</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-tasklist/{{ tasklist.tasklist_id }}/edit-tasklist-time" method="POST">
              
              <!-- Input for tasklist date -->
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="edit-tasklist-start-time" name="start-time" aria-label="Start time">
                    </li>
                  </ul>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add another task -->
  <div class="modal fade" id="add-new-task" aria-hidden="true" aria-labelledby="add-new-task-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="add-new-task-label">Add New Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-tasklist/{{ tasklist.tasklist_id }}/add-task" method="POST">
              <!-- Input for task title -->
              <div class="mb-3">
                <label for="edit-task-title" class="form-label">Task Title</label>
                <input type="text" class="form-control" name="edit-task-title" id="edit-task-title" placeholder="New Title">
              </div>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Add">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
  <script src="/static/js/edit-tasklist.js"></script>
{% endblock %}