{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <div class="col p-4">
    <!-- Recurring Tasklist Title and Color -->
    <h4 class="align-middle d-inline">
      <i class="bi bi-list-check edit-page-icon" style="color: {{ recur_tasklist.background_color }};"></i>
      {{ recur_tasklist.title }}
    </h4>
    <!-- Edit Title and Color -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-recur-tasklist-title">
      <i class="bi bi-pencil"></i>
    </button>
    <!-- Delete Recurring Tasklist -->
    <form action="/edit-recur-tasklist/{{ recur_tasklist.recur_tasklist_id }}/delete-recur-tasklist" class="align-middle d-inline" method="POST">
      <button type="submit" class="btn btn-link" style="color: {{accent}};">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    <br><br>

    <!-- Recurrance for Tasklist -->
    <p class="align-middle d-inline">Recurrence</p>
    <!-- Edit Recurrance -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-tasklist-recurrence">
      <i class="bi bi-pencil"></i>
    </button>
    <hr class="edit-page-rule">
    <!-- View Current Recurrance Settings -->
    {% if recur_tasklist.days_of_week %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ recur_tasklist.start_recur }} - {{ recur_tasklist.end_recur }}
    </p>  
    <p class="d-inline"> Weekly On: </p>
      {% for day in recur_tasklist.days_of_week.split(" ") %}
        <p class="d-inline">{{ days[day] }} </p>
      {% endfor %}
    {% else %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ recur_tasklist.start_recur }} - {{ recur_tasklist.end_recur }}
    </p>
      <p> Every Day </p>
    {% endif %}
    <br><br>
    
    <!-- Tasks for Recurring Tasklist -->
    <p class="align-middle d-inline">Tasks</p>
    <!-- Add Another Task -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#add-new-recur-task">
      <i class="bi bi-plus-lg"></i>
    </button>
    <hr class="edit-page-rule">
    <!-- List of All Tasks -->
    {% for recur_task in recur_tasklist.recur_tasks %}
      <div class="form-check">
        {% if recur_task.completed %}
        <input class="form-check-input recur-task-checked mt-2" type="checkbox" value="{{ recur_task.recur_task_id }}" id="recur-task-flex-check" checked>
        <label class="form-check-label" for="recur-task-flex-check">
            {{ recur_task.title }}
        </label>
        {% else %}
        <input class="form-check-input recur-task-unchecked mt-2" type="checkbox" value="{{ recur_task.recur_task_id }}" id="recur-task-flex-check">
        <label class="form-check-label" for="recur-task-flex-check">
            {{ recur_task.title }}
        </label>
        {% endif %}
        <form action="/edit-recur-tasklist/{{ recur_tasklist.recur_tasklist_id }}/{{ recur_task.recur_task_id }}/delete-recur-task" method="POST" style="display: inline">
          <button type="submit" class="btn btn-link" style="color: {{accent}};">
            <i class="bi bi-trash3"></i>
          </button>
        </form>
      </div>
    {% endfor %}
  </div>

  <!-- Edit tasklist title modal -->
  <div class="modal fade" id="edit-recur-tasklist-title" aria-hidden="true" aria-labelledby="edit-recur-tasklist-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-recur-tasklist-label">Edit Tasklist Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-tasklist/{{ recur_tasklist.recur_tasklist_id }}/edit-recur-tasklist-title" method="POST">
              <!-- Input for event title -->
              <div class="mb-3">
                <label for="edit-recur-tasklist-title" class="form-label">Tasklist Title</label>
                <input type="text" class="form-control" name="edit-recur-tasklist-title" id="edit-recur-tasklist-title" placeholder="New Title">
              </div>
              
              <!-- Input for event color -->
              <div class="input group mb-3">
                <label for="edit-recur-tasklist-color" class="align-middle form-label">Color</label>
                <input type="color" class="d-inline ms-2 form-control form-control-color" name="edit-recur-tasklist-color" id="edit-recur-tasklist-color" value={{ recur_tasklist.background_color }}>
              </div>
              <br>
              <input type="submit" class="w-100 btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit routine recurrence -->
  <div class="modal fade" id="edit-tasklist-recurrence" aria-hidden="true" aria-labelledby="edit-recur-tasklist-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-recur-tasklist-label">Edit Tasklist Recurrence</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-tasklist/{{ recur_tasklist.recur_tasklist_id }}/edit-recur-tasklist-recurrence" method="POST">

              <div class="row">
                <p>Repeats</p>
                <div class="btn-group" role="group" aria-label="repeat-day-or-week">
                  <input type="radio" class="btn-check" name="tasklist-repeat-option" id="edit-tasklist-repeat-day" autocomplete="off" value="day">
                  <label class="btn btn-outline-secondary" for="edit-tasklist-repeat-day">Day</label>

                  <input type="radio" class="btn-check" name="tasklist-repeat-option" id="edit-tasklist-repeat-week" autocomplete="off" value="week">
                  <label class="btn btn-outline-secondary" for="edit-tasklist-repeat-week">Week</label>
                </div>
              </div><br>

              <!-- Specify repeat date range -->
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-recur-tasklist-start" name="recur-tasklist-repeat-start" aria-label="Start date">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-recur-tasklist-end" name="recur-tasklist-repeat-end" aria-label="End date">
                    </li>
                  </ul>   
                </div>
              </div><br>

              <div class="row d-none" id="edit-tasklist-repeat-days">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-sunday" autocomplete="off" value="0" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-sunday">Sun</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-monday" autocomplete="off" value="1" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-monday">Mon</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-tuesday" autocomplete="off" value="2" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-tuesday">Tue</label>

                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-wednesday" autocomplete="off" value="3" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-wednesday">Wed</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-thursday" autocomplete="off" value="4" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-thursday">Thu</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-friday" autocomplete="off" value="5" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-friday">Fri</label>

                  <input type="checkbox" class="btn-check" id="edit-recur-tasklist-saturday" autocomplete="off" value="6" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-tasklist-saturday">Sat</label>
                </div>
              </div><br>
  
              <input type="submit" class="w-100 btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add another task -->
  <div class="modal fade" id="add-new-recur-task" aria-hidden="true" aria-labelledby="add-new-recur-task-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="add-new-recur-task-label">Add New Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-tasklist/{{ recur_tasklist.recur_tasklist_id }}/add-recur-task" method="POST">
              <!-- Input for task title -->
              <div class="mb-3">
                <label for="edit-recur-task-title" class="form-label">Task Title</label>
                <input type="text" class="form-control" name="edit-recur-task-title" id="edit-recur-task-title" placeholder="New Title">
              </div>
              <input type="submit" class="w-100 btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Add">  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
  <script src="/static/js/edit-recur-tasklist.js"></script>
{% endblock %}