{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <h2>{{ event.title }}</h2><br>
  {% if event.all_day %}
    <p> Is All Day </p>
    <p> Event Start Date: {{ event.start }}</p>
    <p> Event End Date: {{ event.end }}</p>
  {% else %}
    <p> Event Start Date: {{ event.start[:10] }} </p>
    <p> Event Start Time: {{ event.start[11:] }} </p>
    <p> Event End Date: {{ event.end[:10] }} </p>
    <p> Event End Time: {{ event.end[11:] }} </p>
  {% endif %}
{% endblock %}