{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <div class="col">
    <i class="bi bi-calendar4-event" style="color: {{ event.background_color }};"></i>
    <h2 style="display: inline">{{ event.title }}</h2>
    <button type="button" class="btn btn-link" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-event-title">
      <i class="bi bi-pencil"></i>
    </button>
    <form action="/edit/{{ event.event_id }}/delete-event" style="display: inline;" method="POST">
      <button type="submit" class="btn btn-link" style="color: {{accent}};">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    <br><br>
    <h3 style="display: inline">Scheduled Time</h3>
    <button type="button" class="btn btn-link" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-event-time">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    {% if event.all_day %}
      <p>
        <i class="bi bi-calendar"></i>
        {{ event.start }} - {{ event.end }}
      </p>
      <p> All Day </p>
    {% else %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ event.start[:10] }} - {{ event.end[:10] }}
    </p>
    <p>
      <i class="bi bi-clock"></i>
      {{ event.start_str }} - {{ event.end_str }}
    </p>
    {% endif %}
  </div>
  
  <!-- Edit event title modal -->
  <div class="modal fade" id="edit-event-title" aria-hidden="true" aria-labelledby="edit-event-title-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-event-title-label">Edit Event Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit/{{ event.event_id }}/edit-event-title" method="POST">
              <!-- Input for event title -->
              <div class="mb-3">
                <label for="event-title" class="form-label">Event Title</label>
                <input type="text" class="form-control" name="edit-event-title" id="edit-event-title" placeholder="New Event">
              </div>
              
              <!-- Input for event color -->
              <label for="event-color" class="form-label">Color</label>
              <input type="color" name="edit-event-color" id="edit-event-color" value={{ event.background_color }}>
              <br><br>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit event date/time modal -->
  <div class="modal fade" id="edit-event-time" aria-hidden="true" aria-labelledby="edit-event-time-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-event-time-label">Edit Event Date and Time</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- action="/edit-event-time" -->
          <div class="row">
            <form action="/edit/{{ event.event_id }}/edit-event-time" method="POST">

              <!-- Input for event start and end date/time -->
              <div class="row">
                <div class="col-auto">
                  <p>Date & Time</p>
                </div>
                <div class="col-auto offset-6">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="all-day-switch" name="all-day" value="true">
                    <label class="form-check-label" for="all-day-switch">All Day</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="event-start-date" name="start-date" aria-label="Start date">
                    </li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="event-start-time" name="start-time" aria-label="Start time">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="event-end-date" name="end-date" aria-label="End date">
                    </li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="event-end-time" name="end-time" aria-label="End time">
                    </li>
                  </ul>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}