{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <div class="col p-4">
    <!-- Recurring Event Title and Color -->
    <h4 class="align-middle d-inline">
      <i class="bi bi-calendar4-event" style="color: {{ recur_event.background_color }};"></i>
      {{ recur_event.title }}
    </h4>
    <!-- Edit Title and Color -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-recur-event-title">
      <i class="bi bi-pencil"></i>
    </button>
    <!-- Delete Recurring Event -->
    <form action="/edit-recur-event/{{ recur_event.recur_event_id }}/delete-recur-event" class="align-middle d-inline" method="POST">
      <button type="submit" class="btn btn-link" style="color: {{accent}};">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    <br><br>

    <!-- Recurring Event Time -->
    <p class="align-middle d-inline">Scheduled Time</p>
    <!-- Edit Time -->
    <button type="button" class="btn btn-link" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-recur-event-time">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    <!-- View Current Scheduled Time -->
    {% if recur_event.all_day %}
    <p> All Day </p>
    {% else %}
      <p>
        <i class="bi bi-clock"></i>
        {{ recur_event.start_str }} - {{ recur_event.end_str }}
      </p>
    {% endif %}
    
    <!-- Recurrance for Event -->
    <p class="align-middle d-inline">Recurrence</p>
    <!-- Edit Recurrance -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-event-recurrence">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    <!-- View Current Recurrance Settings -->
    {% if recur_event.days_of_week %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ recur_event.start_recur }} - {{ recur_event.end_recur }}
    </p>  
    <p> Weekly On: {{ recur_event.days_of_week }} </p>
    {% else %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ recur_event.start_recur }} - {{ recur_event.end_recur }}
    </p>
      <p> Every Day </p>
    {% endif %}
  </div>
  
  <!-- Edit event title modal -->
  <div class="modal fade" id="edit-recur-event-title" aria-hidden="true" aria-labelledby="edit-recur-event-title-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-recur-event-title-label">Edit Event Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-event/{{ recur_event.recur_event_id }}/edit-recur-event-title" method="POST">
              <!-- Input for event title -->
              <div class="mb-3">
                <label for="event-title" class="form-label">Event Title</label>
                <input type="text" class="form-control" name="edit-recur-event-title" id="edit-recur-event-title" placeholder="New Title">
              </div>
              
              <!-- Input for event color -->
              <div class="input group mb-3">
                <label for="edit-recur-event-color" class="align-middle form-label">Color</label>
              <input type="color" class="d-inline ms-2 form-control form-control-color" name="edit-recur-event-color" id="edit-recur-event-color" value={{ recur_event.background_color }}>
              <br>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit event date/time modal -->
  <div class="modal fade" id="edit-recur-event-time" aria-hidden="true" aria-labelledby="edit-recur-event-time-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-recur-event-time-label">Edit Event Time</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-event/{{ recur_event.recur_event_id }}/edit-recur-event-time" method="POST">

              <!-- Input for event start and end date/time -->
              <div class="row">
                <div class="col-auto">
                  <p>Time</p>
                </div>
                <div class="col-auto offset-7">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="all-day-switch" name="all-day" value="true">
                    <label class="form-check-label" for="all-day-switch">All Day</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="edit-recur-event-start-time" name="start-time" aria-label="Start time">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="edit-recur-event-end-time" name="end-time" aria-label="End time">
                    </li>
                  </ul>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit event recurrance -->
  <div class="modal fade" id="edit-event-recurrence" aria-hidden="true" aria-labelledby="edit-event-recurrence-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-event-recurrence-label">Edit Event Recurrence</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-recur-event/{{ recur_event.recur_event_id }}/edit-event-recurrence" method="POST">

              <div class="row">
                <p>Repeats</p>
                <div class="btn-group" role="group" aria-label="repeat-day-or-week">
                  <input type="radio" class="btn-check" name="event-repeat-option" id="edit-recur-event-repeat-day" autocomplete="off" value="day">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-repeat-day">Day</label>

                  <input type="radio" class="btn-check" name="event-repeat-option" id="edit-recur-event-repeat-week" autocomplete="off" value="week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-repeat-week">Week</label>
                </div>
              </div><br>

              <!-- Specify repeat date range -->
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-event-repeat-start" name="event-repeat-start" aria-label="Start date">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-event-repeat-end" name="event-repeat-end" aria-label="End date">
                    </li>
                  </ul>   
                </div>
              </div><br>

              <div class="row d-none" id="edit-recur-event-repeat-days">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input type="checkbox" class="btn-check" id="edit-recur-event-sunday" autocomplete="off" value="0" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-sunday">Sun</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-event-monday" autocomplete="off" value="1" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-monday">Mon</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-event-tuesday" autocomplete="off" value="2" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-tuesday">Tue</label>

                  <input type="checkbox" class="btn-check" id="edit-recur-event-wednesday" autocomplete="off" value="3" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-wednesday">Wed</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-event-thursday" autocomplete="off" value="4" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-thursday">Thu</label>
            
                  <input type="checkbox" class="btn-check" id="edit-recur-event-friday" autocomplete="off" value="5" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-friday">Fri</label>

                  <input type="checkbox" class="btn-check" id="edit-recur-event-saturday" autocomplete="off" value="6" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-recur-event-saturday">Sat</label>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
{% block script %}
  <script src="/static/js/edit-recur-event.js"></script>
{% endblock %}