{% extends 'base.html' %}
{% block title %}Edit Item{% endblock %}
{% block body %}
  <div class="col p-4">
    <!-- Routine Title and Color -->
    <h4 class="align-middle d-inline">
      <i class="bi bi-arrow-repeat" style="color: {{ routine.background_color }};"></i>
      {{ routine.title }}
    </h4>
    <!-- Edit Title and Color -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-routine-title">
      <i class="bi bi-pencil"></i>
    </button>
    <!-- Delete Routine -->
    <form action="/edit-routine/{{ routine.routine_id }}/delete-routine" class="align-middle d-inline" method="POST">
      <button type="submit" class="btn btn-link" style="color: {{accent}};">
        <i class="bi bi-trash3"></i>
      </button>
    </form>
    <br><br>

    <!-- Routine Time -->
    <p class="align-middle d-inline">Scheduled Time</p>
    <!-- Edit Time -->
    <button type="button" class="btn btn-link" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-routine-time">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    <!-- View Current Scheduled Time -->
    <p class="align-middle">
      <i class="bi bi-clock"></i>
      {{ routine.start_str }} - {{ routine.end_str }}
    </p>
    <br>

    <!-- Recurrance for Routine -->
    <p class="align-middle d-inline">Recurrence</p>
    <!-- Edit Recurrance -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#edit-routine-recurrence">
      <i class="bi bi-pencil"></i>
    </button>
    <br>
    <!-- View Current Recurrance Settings -->
    {% if routine.days_of_week %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ routine.start_recur }} - {{ routine.end_recur }}
    </p>  
    <p> Weekly On: {{ routine.days_of_week }} </p>
    {% else %}
    <p>
      <i class="bi bi-calendar"></i>
      {{ routine.start_recur }} - {{ routine.end_recur }}
    </p>
      <p> Every Day </p>
    {% endif %}
    <br>
    
    <!-- Actions for Routines -->
    <p class="align-middle d-inline">Actions</p>
    <!-- Add Another Action -->
    <button type="button" class="btn btn-link align-middle" style="color: {{accent}};" data-bs-toggle="modal" data-bs-target="#add-new-action">
      <i class="bi bi-plus-lg"></i>
    </button>
    <br>
    <!-- List of All Actions -->
    {% for action in routine.actions %}
      <div class="form-check">
        {% if action.completed %}
        <input class="form-check-input action-checked mt-2" type="checkbox" value="{{ action.action_id }}" id="action-flex-check" checked>
        <label class="form-check-label" for="action-flex-check">
          {{ action.title }}
        </label>
        {% else %}
        <input class="form-check-input action-unchecked mt-2" type="checkbox" value="{{ action.action_id }}" id="action-flex-check">
        <label class="form-check-label" for="action-flex-check">
          {{ action.title }}
        </label>
        {% endif %}
        <form action="/edit-routine/{{ routine.routine_id }}/{{ action.action_id }}/delete-action" method="POST" style="display: inline">
          <button type="submit" class="btn btn-link" style="color: {{accent}};">
            <i class="bi bi-trash3"></i>
          </button>
        </form>
      </div>
    {% endfor %}
  </div>

  <!-- Edit routine title modal -->
  <div class="modal fade" id="edit-routine-title" aria-hidden="true" aria-labelledby="edit-routine-title-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-routine-title-label">Edit Routine Title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-routine/{{ routine.routine_id }}/edit-routine-title" method="POST">
              <!-- Input for event title -->
              <div class="mb-3">
                <label for="edit-routine-title" class="form-label">Routine Title</label>
                <input type="text" class="form-control" name="edit-routine-title" id="edit-routine-title" placeholder="New Title">
              </div>
              
              <!-- Input for event color -->
              <div class="input group mb-3">
                <label for="edit-routine-color" class="align-middle form-label">Color</label>
                <input type="color" class="d-inline ms-2 form-control form-control-color" name="edit-routine-color" id="edit-routine-color" value={{ routine.background_color }}>
              </div>
              <br>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit routine time modal -->
  <div class="modal fade" id="edit-routine-time" aria-hidden="true" aria-labelledby="edit-routine-time-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-routine-time-label">Edit Routine Time</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-routine/{{ routine.routine_id }}/edit-routine-time" method="POST">

              <!-- Input for event start and end date/time -->
              <div class="row">
                <div class="col-auto">
                  <p>Time</p>
                </div>
                <div class="col-auto offset-7">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="all-day-switch" name="all-day" value="true">
                    <label class="form-check-label" for="all-day-switch">All Day</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="edit-routine-start-time" name="start-time" aria-label="Start time">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="time" class="form-control" id="edit-routine-end-time" name="end-time" aria-label="End time">
                    </li>
                  </ul>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit routine recurrence -->
  <div class="modal fade" id="edit-routine-recurrence" aria-hidden="true" aria-labelledby="edit-routine-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="edit-routine-label">Edit Routine Recurrence</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-routine/{{ routine.routine_id }}/edit-routine-recurrence" method="POST">

              <div class="row">
                <p>Repeats</p>
                <div class="btn-group" role="group" aria-label="repeat-day-or-week">
                  <input type="radio" class="btn-check" name="routine-repeat-option" id="edit-routine-repeat-day" autocomplete="off" value="day">
                  <label class="btn btn-outline-secondary" for="edit-routine-repeat-day">Day</label>

                  <input type="radio" class="btn-check" name="routine-repeat-option" id="edit-routine-repeat-week" autocomplete="off" value="week">
                  <label class="btn btn-outline-secondary" for="edit-routine-repeat-week">Week</label>
                </div>
              </div><br>

              <!-- Specify repeat date range -->
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">Start</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-routine-start" name="routine-repeat-start" aria-label="Start date">
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item">End</li>
                    <li class="list-group-item">
                      <input type="date" class="form-control" id="edit-routine-end" name="routine-repeat-end" aria-label="End date">
                    </li>
                  </ul>   
                </div>
              </div><br>

              <div class="row d-none" id="edit-routine-repeat-days">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input type="checkbox" class="btn-check" id="edit-routine-sunday" autocomplete="off" value="0" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-sunday">Sun</label>
            
                  <input type="checkbox" class="btn-check" id="edit-routine-monday" autocomplete="off" value="1" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-monday">Mon</label>
            
                  <input type="checkbox" class="btn-check" id="edit-routine-tuesday" autocomplete="off" value="2" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-tuesday">Tue</label>

                  <input type="checkbox" class="btn-check" id="edit-routine-wednesday" autocomplete="off" value="3" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-wednesday">Wed</label>
            
                  <input type="checkbox" class="btn-check" id="edit-routine-thursday" autocomplete="off" value="4" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-thursday">Thu</label>
            
                  <input type="checkbox" class="btn-check" id="edit-routine-friday" autocomplete="off" value="5" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-friday">Fri</label>

                  <input type="checkbox" class="btn-check" id="edit-routine-saturday" autocomplete="off" value="6" name="days-of-week">
                  <label class="btn btn-outline-secondary" for="edit-routine-saturday">Sat</label>
                </div>
              </div><br>
  
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Update">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add another action -->
  <div class="modal fade" id="add-new-action" aria-hidden="true" aria-labelledby="add-new-action-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="add-new-action-label">Add New Action</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form action="/edit-routine/{{ routine.routine_id }}/add-action" method="POST">
              <!-- Input for action title -->
              <div class="mb-3">
                <label for="edit-action-title" class="form-label">Action Title</label>
                <input type="text" class="form-control" name="edit-action-title" id="edit-action-title" placeholder="New Title">
              </div>
              <div class="row">
                <input type="submit" class="btn btn-primary" style="background-color: {{accent}}; border-color: {{accent}};" value="Add">  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
{% block script %}
  <script src="/static/js/edit-routine.js"></script>
{% endblock %}